@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #1e1e1e;
    color: white;
    height: 100dvh;
    scroll-behavior: smooth;
}

header {
    background-color: #252323;
    height: 100%;
}

h2 {
    color: #c44242;
    text-transform: uppercase;
}

.navbar {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: sticky;
    top: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 1.3rem;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

a.active {
    text-decoration: underline #c44242;
    text-underline-offset: 0.5rem;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}

a:hover {
    text-decoration: underline #c44242df;
    text-underline-offset: 5px;
    transition: 0.5s;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

a .img-active {
    height: 1.5rem;
    opacity: 100%;
}

a img {
    height: 1.5rem;
    padding-right: 0.8rem;
    opacity: 70%;
}

ul a {
    text-transform: uppercase;
}

section {
    padding: 1.5rem 3rem;
}

article {
    background-color: #2c2a2a;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2rem; */
    border-radius: 15px;
    width: 330px;
    box-shadow: rgba(3, 3, 3, 0.2) 0px 7px 29px 0px;
    position: relative;
}

.img-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    box-shadow: rgba(3, 3, 3, 0.2) 0px 7px 29px 0px;
}

.cover {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 5px 5px;
}

article header {
    background-color: #2c2a2a;
    padding: 0 2rem;
}

.title {
    margin-bottom: 0.3rem;
    color: #c44242;
    text-transform: none;
}

.description {
    color: rgba(179, 179, 179, 0.733);
}

.info-profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0 2rem;
    margin: 2rem 0;
}

.pp {
    height: 40px;
    object-fit: cover;
    width: 40px;
    border-radius: 50px;
}

.username {
    color: #c44242;
    /* text-transform: uppercase; */
    font-size: 1rem;
}

.date {
    color: rgba(179, 179, 179, 0.733);
}