* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #1e1e1e;
    color: white;
    height: 100dvh;
    scroll-behavior: smooth;
}

header {
    background-color: #252323;
    height: 100%;
}

h1 {
    color: #c44242;
    text-transform: uppercase;
}

.navbar {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: sticky;
    top: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 1.3rem;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

a.active {
    text-decoration: underline #c44242;
    text-underline-offset: 0.5rem;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}

a:hover {
    text-decoration: underline #c44242df;
    text-underline-offset: 5px;
    transition: 0.5s;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

a .img-active {
    height: 1.5rem;
    padding-right: 0.7rem;
    opacity: 100%;
}

a img {
    height: 1.5rem;
    padding-right: 0.7rem;
    opacity: 70%;
}

ul a {
    text-transform: uppercase;
}

section {
    padding: 1.5rem 3rem;
}